@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.linkedCards-container {
  width: 100%;
  height: 640px;
  margin-top: 32rem;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.web-design {
  width: 541px;
  height: 640px;
  border-radius: 15px;
  background-color: #0000;
  mix-blend-mode: normal;
  background-image: url("../components/img2.svg");
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: black;
  opacity: 0.9;
}

.secondary-linkedCards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.app-design,
.graphic-design {
  width: 541px;
  height: 400px;
  border-radius: 15px;
  background-color: #0000;
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: black;
  opacity: 0.9;
}
.web-design > h1,
.graphic-design > h1,
.app-design > h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
}

.web-design > p,
.graphic-design > p,
.app-design > p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}
.app-design {
  background-image: url("../components/img3.svg");
  background-size: cover;
  background-position: center;
}

.graphic-design {
  background-image: url("../components/img4.svg");
  background-size: cover;
  background-position: center;
  position: relative;
  top: 59px;
}
