@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lowerLocation-container {
  margin-top: 12rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.lowerLeft {
  width: 60%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fdf3f0;
  border-radius: 15px;
  gap: 10px;
}
.locationOval-lower {
  padding: 3.2rem;
  width: 292px;
  height: 292px;
  background: linear-gradient(
    90deg,
    rgba(207, 191, 191, 0) 0%,
    rgba(192, 185, 185, 0.498) 100%
  );
  mix-blend-mode: normal;
  border-radius: 50%;
  text-align: left;
  align-items: center;
  z-index: 1;
}

.locationOval-lower > h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #e7816b;
  z-index: 2;
}

.locationOval-lower > p {
  margin-top: 20px;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #333136;
}

.contactOval-lower {
  padding: 3.2rem;
  width: 292px;
  height: 292px;
  background: linear-gradient(
    90deg,
    rgba(207, 191, 191, 0) 0%,
    rgba(192, 185, 185, 0.498) 100%
  );
  mix-blend-mode: normal;
  text-align: left;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

.contactOval-lower > span {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #333136;
  position: relative;
  top: 67px;
  overflow: visible;
}
.contactOval-lower > p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #333136;
  margin-top: 63px;
}
.lowerRight {
  width: 30%;
  height: 400px;
  border-radius: 15px;
  background-image: url("../../../AboutUs/images/loc_uk.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
